
form input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.33%;
  border: 1px solid;
  padding: 1em;
  gap: 0.5em;
  max-width: 700px;
  border-radius: 16px;
}


@media (max-width: 1040px) {
  .form-container {
    width: 90%;
  }
}

.center-content-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


#status_aanpassen_bestelling{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

